﻿
/*项目信息简介背景颜色*/
#project_info_bc{
	background-color:#D0D0D0;
}
/*修改项目背景颜色*/
#update_project_bc{
	background-color:#D0D0D0;
}
/*项目具体流程相关内容背景色*/
#bgcolor_about_project{
	background-color:#ffffff;
}
/*修改项目框内的字体大小*/
.upro_font_size{
	font-size:15px;
}
/*浮动框的样式*/
#floating_frame{
	background-color:#F0F0F0;
	border-radius:10px 10px 10px 10px;
}
/*查看项目，项目详情里的一级标题的字体*/
.one-title{
	font-size:30px;
}
/*查看项目，项目详情里的二级标题的字体*/
.two-title{
	font-size:20px;
}
/*查看项目，项目详情里的三级标题的字体*/
.three-title{
	font-size:15px;
}
/*头像图片的大小*/
#head_image_size{
	width:40px;
	height:40px;
}
/*项目过程下的内容文字样式*/
.one-font{
	font-size:15px;
	color:#888888;
}