/*reset YUI3*/
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,nav,header,footer,article,section{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}li{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}

/*guid YUI3*/
.row{letter-spacing:-0.31em;#letter-spacing:normal;word-spacing:-0.43em;#word-spacing:-0.48em;}.col,.col-1,.col-1-2,.col-1-3,.col-2-3,.col-1-4,.col-3-4,.col-1-5,.col-2-5,.col-3-5,.col-4-5,.col-1-6,.col-5-6,.col-1-8,.col-3-8,.col-5-8,.col-7-8,.col-1-12,.col-5-12,.col-7-12,.col-11-12,.col-1-24,.col-5-24,.col-7-24,.col-11-24,.col-13-24,.col-17-24,.col-19-24,.col-23-24,.col-search-left,.col-search-right,.col-1-5-s,.col-1-6-s{display:inline-block;#zoom:1;#display:inline;letter-spacing:normal;word-spacing:normal;vertical-align:top}.col-1{display:block;}.col-1-2{width:50%;}.col-1-3{width:32%;}.col-2-3{width:66.66666%;}.col-1-4{width:24%;}.col-3-4{width:75%;}.col-1-5{width:20%;}.col-1-5-s{width:19.5%}.col-2-5{width:40%;}.col-3-5{width:60%;}.col-4-5{width:80%;}.col-1-6{width:16.656%;}.col-1-6-s{width:16%}.col-5-6{width:83.33%;}.col-1-8{width:12.5%;}.col-3-8{width:37.5%;}.col-5-8{width:62.5%;}.col-7-8{width:87.5%;}.col-1-12{width:8.3333%;}.col-5-12{width:41.6666%;}.col-7-12{width:58.3333%;}.col-11-12{width:91.6666%;}.col-1-24{width:4.1666%;}.col-5-24{width:20.8333%;}.col-7-24{width:29.1666%;}.col-11-24{width:45.8333%;}.col-13-24{width:54.1666%;}.col-17-24{width:70.8333%;}.col-19-24{width:79.1666%;}.col-23-24{width:95.8333%;}.col-search-left{width:11.11%;}.col-search-right{width:88.88%;}
.col-search-left,.col-search-right{
word-spacing:-0.34em;
word-spacing:-0.38em\9;}
.col-1-5-s{_width:19.2%;}

@-moz-document url-prefix()
{.col-1-5-s{width:19.3%;}}

/*两种清浮动方法*/
.clearfix:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac */
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
.clear{clear:both;height:0;font:0/0 Arial;visibility:hidden;}
/*两种清浮动方法*/

nav,header,footer,article,section{display:block}
body{font:12px/1.5 Tahoma,sans-serif}
a{text-decoration:none;outline:none;}
a:hover,
a:focus{text-decoration:underline}

body,.txtA{color:#333}
.txtB{color:#aaa}
.txtAlert{color: #f60;}
a,.linkA{color:#005980}
.linkB{color:#999}

.fRT{float: right}
.fLT{float: left}
.taL{text-align: left}
.taR{text-align: right}
.taC{text-align: center}

.big{
	font-size: 14px;
	font-weight: bold;
}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
* html .clearfix {height:1%}
.clearfix {display:block}

.wrp{
	width:960px;
	margin:0 auto;
}

.pdA{
	padding: 15px;
}
.pdB{
	padding: 10px;
}
.pdC{
	padding: 5px;
}

.mlrA{
	margin-left: 15px;
	margin-right: 15px;
}
.mlrB{
	margin-left: 10px;
	margin-right: 10px;
}
.mlrC{
	margin-left: 5px;
	margin-right: 5px;
}

.mrA{
	margin-right: 15px;
}
.mrB{
	margin-right: 10px;
}
.mrC{
	margin-right: 5px;
}

.mlA{
	margin-left: 15px;
}
.mlB{
	margin-left: 10px;
}
.mlC{
	margin-left: 5px;
}

.mtA{
	margin-top: 20px;
}
.mtB{
	margin-top: 15px;
}
.mtC{
	margin-top: 10px;
}

.mbA{
	margin-bottom: 20px;
}
.mbB{
	margin-bottom: 15px;
}
.mbC{
	margin-bottom: 10px;
}

.funcA,
.funcB,
.funcC
.funcD
.funcE{
	border-radius:2px 2px 0 0;
}
.funcA{
	border:1px solid #dfdfdf;
	background: #ECEEEF;
	box-shadow: 0 1px 6px #ccc;
}

.funcB{
	border:1px solid #d9d9d9;
}
.funcC{
	border:1px solid #ffe781;
}
.funcD{
	border:1px solid #eee;
}
.funcE{
	border:1px solid #ccc;
}
.funcA .more,
.funcB .more{
	float: right;
	padding: 0 10px;
	line-height: 29px;
	line-height: 31px\9;
	margin-top: -30px;
	margin-top: -30px\9;
}
.funcA .more{
	color: #fff;
	font-size: 12px;
}
.funcB .more{
	color: #666;
	font-size: 12px;
}
.funcA .edit{
	color: #fff;
	font-size: 12px;
}
.funcB .edit{
	color: #666;
	font-size: 12px;
}
.funcZ{
    border:1px solid #CEE1EE;
    /*line-height:1.5em;*/
   /* height:100%;*/
}
.funcY{
    background:#ECEFF5;
}

/*open_class 滚动*/
.funcO{
    border:1px solid #C5C5C5;
}
.con_O{
    width:960px;
    height:315px;
    overflow:hidden;
    zoom:1;
    text-align:left;
}
.con_O a{
outline:none;
}

.con_O .part1{
    position:relative;
    float:left;
    width:250px;
    z-index:1
}
.con_O .part2{
    float:left;position:relative
}
.con_O .right{
    position:relative;
    float:left;
    width:710px;
    height:305px;
    padding: 5px 0;
    z-index:0;
}
.fi_noteSub{
    width:216px;
    height:281px;
    padding:12px 10px;
}

.fun_openclass h2 {
    background-image:url("/static/img/gif-0619.gif");
    background-repeat:no-repeat ;
    background-position:10px ;10px;
    font-size:14px;
    font-weight:bold;
    height:33px;
    line-height:33px;
    padding-left:30px;
    color: #005980;
}
.fun_openclass h2 a{
    font-weight:normal;
    font-size:12px;
}
.head_openclass{
    background: #F5F6F7;
}
.openclass-wrapper{
    overflow:hidden;
}
.normal-content>h2 {
background-image:url("http://img.lanrentuku.com/down/gif/gif-0619.gif");
background-repeat:no-repeat ;
background-position:10px ;10px;
background-color:#5B;
}
.normal-content>h2 {
font-size:14px;
font-weight:bold;
height:33px;
line-height:33px;
padding-left:30px;
background-color:#5588bb;
color:white;
}
.course_list h3{
    float:left;
    font-size:14px;
    font-weight:bold;
    width:100%;
    color:#609C17;
}
.classes-li-wrapper{
    overflow:hidden;
    width:890px;
}
ul.classes_li_1 {
    list-style:none none outside;
}

.classes_li li {
    float:left;
    margin:10px 0 0 10px;
}
.classes_li h5{
    height:50px;
}
.classes_li h6{
    text-align:center;
    margin-right:20px;
}

.classes_li_small li {
    float:left;
    margin:10px 0 0 25px;
    _margin:10px 0 0 15px;
}
.classes_li_small h5{
    height:50px;
    text-align:center;
    margin-right:40px;
}
.classes_li_small h6{
    text-align:center;
    margin-right:40px;
}

.oct{
line-height:43px;
}
.oct h2{
float:left;
color:#005980;
font-size:14px;
font-weight:bold;
padding: 0 40px 0 10px;
}
.ocf .ocf_2 {
    padding:5px 0 10px 10px;
}
.ocbox .ocimg{
float:left;
margin-right:20px;
}
.ocimg img{
display:block;
border:1px solid #E7E7E7;
padding:3px;
}
.ocbox p{
text-indent:24px;
line-height:23px;
margin-right:10px;
}
.teacherInfo dt, .teacherInfo dd{
    display: inline-block;
}
.teacherInfo em {
    color:#069;
}
.pdZ {
    padding: 10px 0 10px 0;
}
.all_course{
    margin:10px 0 0 20px;
}
.all_course p{
    text-align:center;
    margin-right:26px;
}
.all_course .course_name{
    color:#005980;
}
/*open_class end*/
.headA,
.headB,
.headC,
.headD{
	padding: 0 10px;
	border-radius:1px 1px 0 0;
	height: 30px;
	font-size: 14px;
	line-height: 29px;
	line-height: 31px\9;
	font-weight: bold;
	padding-right: 10px;
}
.headZ{
    background:#F0F5F8;
	padding: 0 10px;
	border-radius:1px 1px 0 0;
	height: 30px;
	font-size: 14px;
	line-height: 29px;
	line-height: 31px\9;
	font-weight: bold;
	padding-right: 40px;
}
.headA{
	background: #58b url(/static/images/head_bg.png) repeat-x 0 -50px;
	color: #fff;
}
.headA a{
	color: #fff;
}

.headB{
	background: #f3f3f3 url(/static/images/head_bg.png) repeat-x 0 0;
	color:#2E688D;
	border-bottom: 1px solid #d9d9d9;
}

.headB a{
	color:#2E688D;
}

.headC{
	background: #ffe781 url(/static/images/head_bg.png) repeat-x 0 -50px;;
	color: #624415;
}
.headC a{
	color: #624415;
}

.headA .col,
.headB .col{
	padding: 1px 10px 0;
	border-radius:3px 3px 0 0;
	cursor: pointer;
}
.headA .current,
.headB .currentG_header
.headA .current{
	color: #47a;
}

.headO{
  font-size: 14px;
  font-weight: bold;
  color: #609C17;
  padding: 10px 0;
  border-bottom: 1px dashed #CCC; 
}
.headO2{
  font-size: 14px;
  font-weight: bold;
  color: #609C17;
  padding: 10px 0;
  border-bottom: 1px solid #CCC;
}

.GI{
	display: inline-block;
	background: url(/static/images/icons.png) no-repeat;
	width:16px;
	height:16px;
	vertical-align:-0.4em;
	vertical-align:-0.3em\9;
	#vertical-align:-0.2em;
	margin:0 2px;
}
.GI_top{background-position:0 -242px;}
.GI_pic{background-position:0 -382px;}
.GI_video{background-position:0 -182px;}
.GI_home{background-position:0 -402px;}


body{
	background:#f3f3f3 url(/static/images/index_bg.png) repeat-x 0 -210px;
}

.G_header{
	position: relative;
}
.G_header .logo
.G_header .notice{
	background: url(/static/images/index_bg.png) repeat-x 0 -100px;
	border-bottom: 1px solid #999;
	display: none;
}
.G_header .nav{
	background: url(/static/images/index_bg.png) repeat-x 0 -50px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.5);
    margin-top:-5px;
}
.G_header .nav{
    _zoom:1;
    _margin-top:-5px;
}
.G_header .loginfo{
  background: url(/static/images/index_bg.png) repeat-x 0 -150px;
  border-bottom: 1px solid #999;
  height:24px;
  height:25px\9;
  *height:27px;
  _height:26px;
  overflow: hidden;
  padding-top: 4px;
  *padding-top: 1px;
  _padding-top: 2px;
  line-height: 26px\9;
  _line-height: 23px;
}
.G_header .topinfo{
	background: url(/static/images/index_bg.png) repeat-x 0 -200px;
	padding: 10px 0;
}
.G_header .host{
	border-left: 1px solid #bbb;
	padding-left: 15px;
	line-height: 25px;
}
.G_header .search{
	margin-top: 20px;
	padding:10px 0;
}
.G_nav{
	padding: 0 15px;
	line-height: 33px;
	height: 34px;
	padding-top: 2px\9;
	height: 32px\9;
	_line-height: 32px;
	#over-flow:hidden;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 0 #666;
}
.G_nav:hover{
	background: url(/static/images/index_bg.png) repeat-x 0 0;
	text-decoration: none;
}
.main{
	background: #fff;
	padding: 10px 0;
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.G_footer{
	padding: 20px 0;
	text-align: center;
}

.nav2 a{
	display: block;
	_display: inline-block;
	_width: 80%;
	padding: 8px 15px;
	font-size: 14px;
	/* padding-left: 20%; */ 
    text-align: center;
}
.nav2 a:hover,
.nav2 a:focus{
	background-color: #fff;
	text-decoration: none;
}

.pos{
	background: #fafafa;
    padding: 0px 20px;
}
.pos .item{
	display: block;
	padding: 5px 20px 5px 5px;
}
.pos a{
	background: url(/static/images/split.jpg) no-repeat right 0;
}

.btn,
.btn:link,
.btn:visited
{
  background-image: url(/static/images/bk_btn.png);
  border-radius: 5px;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  display: inline-block;
  *zoom:1;
}
.btn:hover,
.btn:active{
  text-decoration: none;
  background-image: url(/static/images/bk_btn.png);
}

.btnA{
  background-color: #1F6D91;
  border: 1px solid #1F6D91;
  background-position: 0 0;
  color:#fff;
  padding-top: 2px;
  padding-bottom: 2px;
}
.btnA.small,
.btnB.small{
  padding:0 15px;
  line-height: 19px\9;
  _line-height: 15px;
  _vertical-align:middle;
  *vertical-align:middle;
}
.btnA:hover,
.btnA:active{
  background-color: #288BB9;
  border: 1px solid #154E67;
  background-position: 0 -50px;
}
.btnA:active{
  color:#def;
}

.btnB{
  background-color: #ddd;
  border: 1px solid #ddd;
  background-position: 0 -100px;
  color:#333;
  padding-top: 2px;
  padding-bottom: 2px;
}
.btnB:hover,
.btnB:active{
  background-color: #eee;
  border: 1px solid #aaa;
  background-position: 0 -150px;
}
.btnB:active{
  color:#666;
}



.inputA{
  line-height: 12px;padding:3px;width:296px;
  -webkit-appearance: none;
  border: 1px solid #666;
  border-radius: 3px;
  background:#fff url(/static/images/bk_input.png) no-repeat left top;
  margin: 0;
}
.inputB{
  line-height: 14px;width:96px;
  padding: 2px;
  -webkit-appearance: none;
  vertical-align:baseline;
  *vertical-align:-3px;
  border: 1px solid #999;
  border-radius: 2px;
  background:#fff url(/static/images/bk_input.png) no-repeat left top;
  margin: 0;
}
.inputC{
  line-height: 14px;
  /*width:96px;*/
  padding: 2px;
  -webkit-appearance: none;
  vertical-align:baseline;
  *vertical-align:-3px;
  border: 1px solid #999;
  border-radius: 2px;
  background:#fff url(/static/images/bk_input.png) no-repeat left top;
  margin: 0;
}
.inputD{
  line-height: 14px;
  width:296px;
  padding: 2px;
  -webkit-appearance: none;
  vertical-align:baseline;
  *vertical-align:-3px;
  border: 1px solid #999;
  border-radius: 3px;
  background:#fff  no-repeat left top;
  margin: 0;
}
textarea.inputC{
  height: 176px;
  max-width: 296px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
textarea.inputD{
  height: 176px;
  max-width: 296px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.inputA:focus{
  border-color: #69c;
}
textarea.inputA{
  height: 76px;
  max-width: 296px;
  overflow-x: hidden;
  overflow-y: auto;
}
textarea.inputB{
  height: 76px;
  max-width: 296px;
  overflow-x: hidden;
  overflow-y: auto;
}

.checkboxA,
.radioA{
  margin-right:4px;
  *margin-right:2px;
  vertical-align: -2px;
  *vertical-align: -3px;
}

.page a,
.page span{
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 3px 6px;
  margin: 0 5px;
}
.page a:hover,
.page a:active{
  background: #f3f3f3;
}
.page .dot{
  border:0;
  margin: 0;
}
.page .current{
  background:#f66;
  border-color: #f66;
  color: #fff;
}

span.line{color:#ccc; margin: 0 8px;}

ul.pager{
    text-align:center;
}
ul.pager li{
    display:inline;
}
li.disabled a{
    color:grey;
}
ul.pager li a.active,li.active a{
    color:grey;
}
