.cont .article {
	padding:0 30px;
}
.article p{
	margin: 10px 0;
}
.article .media{
	display: inline-block;
	#zoom:1;
	background: #eee;
	border-radius: 5px;
}

.register dl,.feedback dl{
    float:left;
    padding:5px 0;
    width:600px;
}
.register dt{
    float: left;
    height:28px;
    width:100px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}
.feedback dt{
    height:23px;
    font-size: 14px;
    font-weight: bold;
}
.register .helptext{
    width:200px;
    font-size: 12px;
    font-weight:normal;
    text-align:left;
    padding-left: 20px;
    color: #999;
    height: 25px;
    padding-top: 5px;
}
.register dd{
    float: left;
    height:28px;
    position: relative;
}
.register label{
    vertical-align: middle;
    font-weight: normal;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    cursor: pointer;
}

.register input,.feedback input{
    width:200px;
    border: 1px solid #BDC7D8;
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    padding: 5px 4px;
    vertical-align: middle;
}
.feedback textarea{
    width:400px;
    border: 1px solid #BDC7D8;
    font-size: 15px;
    line-height: 16px;
    padding: 5px 4px;
    vertical-align: middle;
}
/*
.register .captchadiv input[type="text"]{
    width:65px;
}
*/
.register .captchadiv input{
    width:65px;
}

.captchadiv img{
    height:22px;
}

.register .error, .feedback .error{
    color:#FE2617;
}
.register .prompt{
    background-color:#F7F7F7;
    padding:15px 10px 10px 10px;
}
.register h2{
    font-size:18px;
}
.register p{
    text-indent:1em;
    font-size:14px;
}

.register .finish1{
    font: 14px Arial,Helvetica,sans-serif;
    line-height: 150%;
    color: #666;
}
.register .finish2{
    font: 16px Arial,Helvetica,sans-serif;
    color: #005980;
    margin: 20px 0 10px 0;
    line-height: 150%;
}
.register ul li{
    margin-bottom:7px;
}

/*profile 的样式*/
.profile dl{
    float:left;
    padding:5px 0;
    width:600px;
}

.profile dt{
    float: left;
    height:28px;
    width:135px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}
.profile dd{
    float: left;
    position: relative;
}
.profile input{
    width:200px;
    border: 1px solid #BDC7D8;
    font-size: 12px;
    height: 12px;
    line-height: 10px;
    padding: 5px 4px;
    vertical-align: middle;
}
.profile select {
    vertical-align: middle;
    font-size: 12px;
    border: 1px #BDC7D8 solid;
    padding: 2px 3px;
    margin: 1px;
    margin-top: -1px;
    width: 10em;
}

#id_sex, #id_birthday_year {
    width: 5em;
}
#id_birthday_month, #id_birthday_day {
    width: 4em;
}
 
.profile textarea {
    width: 308px;
    height: 36px;
    padding: 5px;
    border: 1px solid #CCC;
    vertical-align: bottom;
    border-radius: 2px;
    overflow: hidden;
    max-height: 36px;
    font-size: 12px;
}

.profile .helptext {
    width: 200px;
    margin-left: 20px;
    padding: 5px;
}

.profile .error {
    color: #F60;
}
.profile .delete-buttom {
    border-bottom:1px solid #EEE;
    margin-bottom: 20px;
}

.devideline {
    border-bottom:1px solid #EEE;
}

/*找人的样式*/
.search{
    height:60px;
    margin-left:10px;
}

.avatar .error {
    color: #F60;
    letter-spacing: 0;
}

/*message的样式*/
.message *{
  border: 1px solid;
  margin: 5px 0px;
  padding:8px 0px 8px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  border-style:solid none;
}
.message .info,.message .debug{
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('/static/img/info.png');
}
.message .success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('/static/img/success.png');
}
.message .warning {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('/static/img/warning.png');
}
.message .error {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('/static/img/error.png');
  text-align: right;
}

.message  li {
    position: relative;
}

.message span {
    position: absolute;
    border: none;
    padding: 0px;
    margin: 0px;
    
    right: 20px;
    top: 10px;
    cursor:pointer;
}
.feedbackbutton{
    position: fixed;
    _position: absolute;
    right: 0;
    top: 300px;
    width: 35px;
    height: 90px;
    overflow: hidden;
}
.feedbackbutton a{
    display:block;
    width:100%;
    height:100%;
    background:url("/static/img/feedback.png") 0 0;
}
.feedbackbutton a:hover{
    background:url("/static/img/feedback_hover.png") 0 0;
}

.nav{
    margin:0 auto;
}
