.ad{
position:absolute; 
bottom:0; 
display:none; 
font-size:12px; 
line-height:10px; 
z-index:999;
cursor:pointer; 
display: block;
}
#ad2{ 
    right:0;    
    width:155px; 
    height:405px; 
    
}
#ad3{ 
    left:0;     
    width:150px; 
    height:400px; 
        
}

.aside .listB .col {
    width: 100%;
}
.dis_inline{
    display:inline;
}

.G_partners p img {
    border: 1px solid #DEDEDE;
}

/*base 登陆 css*/
 .userInput {
height: 13px;
line-height: 13px;
width: 88px;
border: 1px solid #BCBCBC;
margin-right: 5px;
}

 .zbdw {
top: 32px;
left: 265px;
#height: 81px;
border-left: 1px solid #404040;
padding-left: 33px;
font-weight: bold;
line-height: 24px;
}
.zbdw p.green {
color: #005980;
#margin-top: 5px;
}

.a_hover a:focus,.a_hover a:hover,.a_hover a:active{
background-color:#399fd6;
color:#feffff;
text-decoration:none;
}

.a_hover a{
padding: 0px 5px;
}

.btn-submit{
cursor: pointer;
border: 1.5px solid #999999;
_border:1px solid #999999;
width:50px;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
line-height: 14px;
_line-height:10px;
padding: 2px;
vertical-align:middle\9;
background-color: #FFF;
}
.btn-submit:hover,btn-submit:active{
color:#005980;
}

/*lmk css*/
.lmkdiv
{ font-size: 14px;
  line-height: 24px;
}
.lmkdiv p
{
  line-height:180%;
  margin: 5px 0;
}
.lmkdiv strong
{
   font-size: 14px;
   font-weight: bold;
}

/* 个人中心关的css  TODO: 这个还不行， 需要改动*/
.follow span {
    text-align: center;
    width: 100%;
    display: block;
    overflow: hidden;
}
.follow img {
    margin: 0px 4px;
}
.follow .col-1-3 {
    margin-top: 5px;
}

.follow-list div{
    text-align: center;
}
.follow-list .declaration{
    text-align: left;
}

.follow-list li{
    border-bottom: 1px dashed #A0BEDC;
    padding: 0px 0px 10px 0px;
}

.tabs-holder{
    padding-top:1px;
    line-height:1;
    margin:5px 0 20px;
}

.tabs-holder .right-tabs {
    border-bottom: 1px solid #A0BEDC;
    font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
    zoom:1;
}
.tabs-holder{
    line-height:1;
}

.tabs-holder .right-tabs .tabpanel{
    float:left;
    width:auto;
    margin:0;
    padding:0;
}
.tabs-holder .tabpanel{
    top:1px;
    position:relative;
}

.right-tabs ul{
    float:left;
    margin:0;
    padding:0;
}
.right-tabs li{
    display:inline-block;
    *display:inline;
    zoom:1;
    float:left;
    margin-right:5px;
}
.clearfixtab{
    display:block;
}
.clearfixtab::after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.right-tabs a:hover {
    background: #CEE1EE;
    text-decoration: none;
}
.tabs-holder .tabpanel a{
    background: #E3EEF8;
    padding: 6px 19px 3px 20px;
    float:left;
    outline:0pt none;
}
.right-tabs .current a{
    float:left;
    background: #FFF;
    border: 1px solid #A0BEDC;
    border-bottom: 1px solid white;
}

.avatar .imgdiv {
    text-align: center;
    padding: 20px 0;
}

.avatar .filediv {
    text-align: left;
    padding: 60px 0 0 0;
}

/* notifation*/
.notice_unseen{
border-bottom: 1px solid #fff;
color:#005980;
font-weight: bold;
}
.notice_hover{
background:#f0f5f8;
cursor:pointer;
}
.notice{
margin: 15px 50px 0px 50px;
border-top: 1px dashed #f0f5f8;
display:none;
padding: 10px 0px;
font-size: 12px;
}
.notice p{
text-indent:24px;
padding:5px;
word-wrap:break-word;
}
.each_notice{
padding: 10px 25px;
border-bottom: 1px solid #D9D9D9;;
}
/* notifation*/
.goTop{
position: fixed;
bottom: 10px;
letter-spacing: normal;
writing-mode: tb-rl;
text-align: left;
width: 20px;
padding-left: 5px;
cursor: pointer;
overflow: hidden;
height: 80px;
font-family: 宋体,Arial,Helvetica,sans;
_position:absolute;
_top: expression(documentElement.scrollTop + documentElement.clientHeight+40);

}
/*end 回到顶部*/

/*----幻灯片------*/
#slide{width:480px; height:233px; position:relative; border:1px solid #D7D7D7;}
#frame{width:480px;  height:233px;position:relative; overflow:hidden;}
#frame a{ color:#000; text-decoration:none; }
#img a{position:absolute;left:0px;top:0px; display:none;}
#showtext{ color:#000; position:absolute; bottom:0px; height:32px; line-height:30px;width:100%; font-size:14px; font-family:"微软雅黑"; font-weight:bold; background:url(../images/flashBg.gif) repeat-x; padding-left:12px;}
#btn{position:absolute;right:5px;bottom:8px; z-index:2}
#btn span{display:block;text-align:center;line-height:18px;height:18px;width:20px; float:left;cursor:pointer;background:#000; margin-left:3px;color:#FFF;font-size:12px;font-family:Arial, Helvetica, sans-serif; font-weight:bold;}
#btn span.hov{background:#FF6600; color:#FFF;}
/*---end-幻灯片------*/

/*formcheck css */
.onError
{
    background:#FFF2E9 url(/static/images/onError.gif) no-repeat;
    padding-left:25px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onCorrect
{
    background:#E9FFEB url(/static/images/onCorrect.gif) no-repeat;
    padding-left:25px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
/*end formcheck css*/

/*app group css */
.crowd_name {
    word-wrap: break-word;
    display: block;
    font-size: 25px;
    font-weight: bold;
    color: #494949;
    margin: 0;
    padding: 0 0 15px 15px;
    line-height: 1.1;
}

.bd{
    word-wrap: break-word;
    padding: 8px 9px;
    background: #f7f7f7;
    border: 1px solid #faefe3;
    border-width: 0 1px;
    border-radius: 5px;
}

a.bn-create, a.bn-post {
    background: url(/static/img/post_subject.jpg) no-repeat 0 0;
    color: #9e9e9e;
    padding-left: 17px;
}

.bn-post, .bn-post span {
    display: inline-block;
    display: -moz-inline-stack;
    height: 22px;
    line-height: 0;
    font-size: 0;
    padding-left: 3px;
    vertical-align: middle;
    overflow: hidden;
    letter-spacing: 4px;
}
.bn-post, .bn-post span, x:default {
    display: inline-block;
}
.bn-post span {
    color: #333;
    padding: 0 8px 0 5px;

    line-height: 23px;
    font-size: 12px;
    cursor: pointer;
}
.olt {
    width: 100%;
    padding: 0;
    margin-bottom: 3px;
}
.olt td.time {
    width: 110px;
    color: #999;
    padding-right: 0;
    text-align: right;
}

.olt td {
    border-bottom: 1px dashed #ddd;
    padding: 3px 3px 3px 0;
}

.topic-content .user-face, .topic-reply .user-face {
    float: left;
    width: 48px;
    height: 48px;
    overflow: hidden;
}
.topic-content .topic-doc {
    float: right;
    width: 520px;
    margin-bottom: 30px;
}
.topic-content .topic-doc .topic_time {
    margin: 0;
    padding: 5px 0;
    height: auto;
    background: 0;
    font: 14px Arial,Helvetica,sans-serif;
    line-height: 150%;
    color: #666;
}
.color-green {
    color: #060;
}
.pl20 {
    padding-left: 20px;
}
.topic-content .topic-doc p {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    overflow: hidden;
    font: 12px Arial,Helvetica,sans-serif;
    line-height: 162%;
}
.topic-content .topic-opt {
    padding: 15px 0 0;
}
.clearfix {
    display: block;
}
.topic-content .topic-opt .fleft {
    color: #666;
    margin-right: 10px;
}
.fleft {
    float: left;
}
.topic-reply li {
    margin: 0 0 20px 48px;
    position: relative;
}
.topic-reply li .reply-doc {
    float: right;
    width: 473px;
}
.topic-reply li .reply-doc .reply_time {
    margin: 0 0 15px 4px;
    height: 22px;
    line-height: 22px;
    color: #666;
    overflow: hidden;
    font: 12px Arial,Helvetica,sans-serif;
    background: url(/static/images/topicbar.gif) no-repeat right top;

}
.group_banned {
    text-align: right;
}
.fright {
    float: right;
}
.gact {
    color: #bbb;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}
.gact a:link, a.gact:link {
    color: #bbb;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
}
a.ln-report {
    position: absolute;
    bottom: 0;
    right: 40px;
    display: none;
    color: #bbb;
}
.ul {
border-bottom: 1px dashed #ddd;
line-height: 100%;
clear: both;
margin: 10px 0px;
}

.pl {
font: 12px Arial,Helvetica,sans-serif;
line-height: 150%;
color: #666;
}

.title_h2 {
    font: 14px Arial,Helvetica,sans-serif;
    color: #060;
    margin: 0 0 12px 0;
    line-height: 150%;
}
.menbers_div{
    width:100%;
}
.obu {
    margin: 0 0 10px 0;
    width: 76px;
    float: left;
    display: inline;
    font: 12px Arial,Helvetica,sans-serif;
    line-height: 162%;
}
.obu dt {
    margin: 0;
    height: 50px;
    overflow: hidden;
    text-align: center;
    line-height: 16px;
}
.obu dd {
    margin: 0;
    height: 55px;
    text-align: center;
    overflow: hidden;
}

.toolbar{
    line-height: 21px;
    color: #666;
    padding: 5px 10px;
}
.toolbar ul{
    display: inline-block;
    *display:inline;
}
.toolbar li a.select {
    padding-right: 0;
    background: url(/static/images/filter.png) no-repeat 0 -22px;
    color: #333;
}
.toolbar li a {
    height: 21px;
    outline: 0 none;
    padding: 0 12px;
}
.toolbar, .toolbar li, .toolbar li a, .toolbar li a span {
    display: inline-block;
    height: 21px;
    line-height: 21px;
    *display:inline;
}
.toolbar li a.select span {
padding-right: 12px;
background: url(/static/images/filter.png) no-repeat right top;
}

.join-group {
    margin: 10px 10px;
    text-align: center;
    background-color: #FCFEED;
    border: 1px solid #EFD4E1;
    padding: 15px;
    font-weight: bold;
    font-size: 14px;
}
.join-group .input-submit {
    color: #FFF!important;
    font-size: 16px;
    margin-right: 20px;
    padding: 4px 15px;
    zoom: 1;
    text-decoration: none;
    background-color: #005eac;
    border-color: #b8d4e8 #124680 #124680 #b8d4e8;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    text-align: center;
}
/*end css */ 


/*open_class*/
/* video*/

.headX {
    /* background: #F3F3F3 url(/static/images/head_bg.png) repeat-x 0 0; */
    border-bottom: 1px solid #D9D9D9;
    letter-spacing: 0;
    padding-left: 10px;
    margin: 3px 20px 3px 10px;
    font-size: 15px;
}
.videoinfo .row {
    letter-spacing: 0;
}

.sections {
    letter-spacing: 0;
    overflow: hidden;
    min-height: 200px;
}
.sections li{
    display: inline;
}


.prevvideo p,  .nextvideo p{
    text-align: center;
}

.fun_openclass .more{
	float: right;
	padding-right:  30px;
	line-height: 29px;
	margin-top: -30px;
    font-size:14px;
    color:#005980;
    font-weight:bold;
}
/*video*/
/*endopen_class*/
.faq_search{
padding: 20px 0px 10px 20px;
padding: 0px 0px 10px 20px;
}
.faq_search_input{
padding: 3px;
width: 480px;
font-size: 18px;
color: rgb(153, 153, 153);
}
.faq_search .faq_search_submit{
background-color: #2B8C00;
border: 0;
font-size: 14px;
color: #fff;
font-weight: bold;
padding: 6px 12px;
display: inline-block;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
cursor: pointer;
}

.faq_h4{
background: #eff9fe;
height: 32px;
line-height: 32px;
padding-left: 25px;
color: #4a4a4a;
font-size: 14px;
font-family: "microsoft yahei";
}
.faqs_ul {
  font-size: 14px;
  border: 1px solid #b9e8f9;
}
.faqs_ul li {
background: url(/static/images/faq_li_icon.gif) no-repeat 20px 10px;
padding-left: 32px;
height: 32px;
line-height: 32px;
overflow: hidden;
border-bottom: 1px dotted #cbecf8;
margin: 5px 0px;
}
.faqs_ul li.on {
background: url(/static/images/faq_li_icon1.gif) no-repeat 20px 10px;
color: #cc0000;
}
.faqs_ul li.on a{
color: #cc0000;
}

.faq_list{
  padding: 20px;
  /*border: 1px solid #D5D6D7;*/
  margin: 0px 0px 10px 40px;
  padding: 10px;
}
.faq_list .category_name{
font-size: 20px;
font-family: "微软雅黑","宋体";
/*height: 30px;*/
margin-bottom: 10px;
/*line-height: 30px;*/
color: #666;
border-bottom: 1px dotted #ccc;
padding-bottom: 10px;
}
.faq_list .faq_item{
font-size: 14px;
line-height: 2em;
color: #666;
font-family: Verdana, "宋体";

}
.faq_list .faq_item a{
  color: #4C76A0;
}
.faq_item p.faq_answer{
font-size: 12px;padding-left: 10px;font-size: 12px; padding-left: 10px; border-bottom: 1px dashed #ccc; margin-bottom: 15px; padding-bottom: 5px;
}
