.listA li{line-height: 20px;_height:20px; width:100%} /* width for ie6*/
.listA .info{text-align: right;width: 92px;float: right;}
.listA .GI{float: left;margin-top:0.2em;}
.listA .link{margin-right: 100px; display: block;*margin-top:-20px;_margin-top:0;}

.listB li{text-align: center;}
.listB .pro{display: block;margin-top:5px;margin-bottom:5px;}
.listB .rank{vertical-align: middle;color: #666; font-size: 16px; margin-right: 10px; font-size: 24px; color: #ccc}
.listB img{vertical-align: middle;}


.formA dt,
.formA dd{padding:5px 0;}

.formA .label,
.formA label
{padding-right: 30px;font-weight: bold;font-style: normal;}
.formA dt{text-align: right;}
.formA .err{width:300px;margin-top:2px;color: #f60;}
.footer .btn_holder{
  padding:10px 0 10px 188px
}

.comment.reply{background: #f3f3f3}
.comment .comment-reply{vertical-align: bottom;}

.steps .col{background:#eee url(/static/images/step.png) no-repeat left center;padding: 0 0 0 25px;}
.steps .item{background:transparent url(/static/images/step.png) no-repeat right center;padding: 10px 10px 10px 0;*display: block;_display:inline;}
.steps .done{background-color: #DFFFBF}
.steps .doing{background-color: #fff}

.filter .current{font-weight: bold; color: #000; cursor: default;}
.filter .current{ text-decoration: none;}
