#back_ground{
	background:#C1C1C1;
}

#personal_input{
	width:140px;
	height:30px;
}
#personal_input_email{
	width:180px;
	height:30px;
}
.userInfo{
	position: absolute;
	float: left;
	left:129px;
	top:36px;
}
	
#background-image{
	margin-top:20px;
}
#background-image-contest{
	margin-top:-40px;
	height:228px;
}

#background-image-contest-brief{
	background-size:contain;
}
#background-image-contest-regulation{style="margin-top:-2px;
	padding-top:6px;
	width:300px;
	height:120px;border-radius:25px;
}
.current{
	color:#f08439;
}
.regulations-style{
	text-align:left;
	width:150px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.logo_img{
	width:180.25px;
	height:130px;
	border-radius: 100%;
}
.logo_box{
	width:247.5px;
	height:60px;
}
.logo_box_font{
	vertical-align: inherit;
	font-size:12px
}
.logo_box_font_font{
	vertical-align: inherit;
	
}
.current{
color:#f08439;
}
.regulations-style{
	text-align:left;
	width:150px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.feedback_top {position: fixed; bottom: 180px; _position: absolute; _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight - 100)); right: 50px; _right:50px; /*left: 50%; margin-left: 500px;*/ }
.feedback_base {background-position: 0 0;}
.feedback_base, .feedback_top .gotop {width: 50px; height: 50px; text-indent: -9999em; display: block; margin-top: 3px; font-size: 0; line-height: 0; background-position: 0 0; }
.feedback_base, .feedback_top .gotop {background-image: url(/static/images/feedback_top.png); background-repeat: no-repeat; }
.feedback_top .gotop {background-position: 0 -52px;display: none;}
a.gotop:hover {background-position: -52px -52px;}
a.feedback_base:hover{background-position: -52px 0px;}

.ad {position: relative;}
.ad_left{position:fixed; _position:absolute;  left:0px; _left:0;  bottom:0px; _bottom:0px; z-index:1005;width:150px; text-decoration:none;}
.ad_right{position:fixed; _position:absolute; right:0px; _right:0;  bottom:0px; _bottom:0px; z-index:1005;width:150px;text-decoration:none;}
.ad_left:hover, .ad_right:hover {text-decoration:none;}
.ad_left span, .ad_right span  {width:150px; height:10px; font-size:10px; _height:15px; _font-size:10px;color:#000000;}
.ad_left img, .ad_right img  {width:150px; height:150px;}

/*个人中心头像样式*/
#personal_pic{
	position:absolute;
	left:210px;top:307px;
	width:100px;
	height:100px;
	/*border:1px solid red;*/
	border-radius:50px;
}
#personal_pic img{
	width:100px;
	height:100px;
	padding: 5px;
	border-radius:50px;
}
#button_draft{
	position:absolute;
	left:228px;
	top:407px;
	width:100px;height:50px;
}
#one_pro{
	margin-top:20px;
}
#one_pro_img{
	width:257px;
	height:193px;
}