.header {
	border-bottom: 1px solid #D9D9D9;
	margin: 0 0 20px;
	padding: 0 0 10px;
}
.header p{
	margin: 0;
}
.header .title{
	font-size: 17px;
	font-weight: bold;
}

.footer {
	border-top: 1px solid #D9D9D9;
	margin: 20px 0 0;
	padding: 5px 0;
}
.footer p{
	margin: 0;
}
